#picture  {
    background-image: url("http://r1y2a3n4.github.io/MUGG.jpg");
    background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
#startbutton {
   border: 1px solid #0a3c59;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ffffff));
   background: -webkit-linear-gradient(top, #ff0000, #ffffff);
   background: -moz-linear-gradient(top, #ff0000, #ffffff);
   background: -ms-linear-gradient(top, #ff0000, #ffffff);
   background: -o-linear-gradient(top, #ff0000, #ffffff);
   background-image: -ms-linear-gradient(top, #ff0000 0%, #ffffff 100%);
   padding: 16px 32px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #f50a74 0 1px 0;
   color: #ffffff;
   font-size: 22px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
  margin-top: 25%;
   }
#startbutton:hover {
   border: 1px solid #0a3c59;
   text-shadow: #ff00cc 0 1px 0;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ff0000));
   background: -webkit-linear-gradient(top, #ffffff, #ff0000);
   background: -moz-linear-gradient(top, #ffffff, #ff0000);
   background: -ms-linear-gradient(top, #ffffff, #ff0000);
   background: -o-linear-gradient(top, #ffffff, #ff0000);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ff0000 100%);
   color: #000000;
   }
#startbutton:active {
   text-shadow: #0022ff 0 1px 0;
   border: 1px solid #0a3c59;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ffffff);
   background: -moz-linear-gradient(top, #ff0000, #ffffff);
   background: -ms-linear-gradient(top, #ff0000, #ffffff);
   background: -o-linear-gradient(top, #ff0000, #ffffff);
   background-image: -ms-linear-gradient(top, #ff0000 0%, #ffffff 100%);
   color: #ff00ff;
   }

   .playButton {
  text-align: center;
    margin-top: 25%;
}
   .marquee {
    margin-top: -5%;
   }

.title {
    background: red;
    width: 100%;
    padding: 10px;
      display:inline-block;
}
.top {
    display: inline-block;
}
.menu {background: blue;
    width: 20%;
    padding: 5px;}
.sidebar {
      width: 25%;
    background: orange;
    padding: 20px;
}

.fixtures {
    background: blue;
    color: white;
    padding: 5px;
}
.news {background: red;
    color: white;
    padding: 5px;

  }
.finance {background: green;
    color: white;
    padding: 5px;

}
.next {background: purple;
    color: white;
    padding: 5px;}
.shortlist {background: black;
    color: white;
    padding: 5px;}
.table {background: white;
    color: black;
    padding: 5px;}
.stats {background: blue;
    color: white;
    padding: 5px;}
.main {width: 75%;
    background: orange;
    padding: 20px;}